# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
